* {
  box-sizing: border-box;
}

html,body {
  font-family: 'Lato', sans-serif;
}

.bg-img {
  background-image: url(../images/big-bg.png);
  background-position: -70px;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
}

.img-responsive {
      display: block;
      max-width: 100%;
      height: auto;
   }

.home-foot {
 flex-shrink: 0;
 padding: 20px;
}

.foot {
  flex-shrink: 0;
  padding: 20px;
  background-image: url(../images/bottom-bg.png);
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
}

a:hover, button:hover {
  color: #fbca04;
}

 a:hover figure {
  color: #fbca04;
}

.left-nav {
  position: fixed;
}

.left-wrapper {
  border-right: solid;
}

.sun {
  /* height: 40px;
  width: 40px; */
  padding-right: 10px;
}

.intro {
  margin: 55px 0px;
}

.projects, .contact {
  margin-bottom: 55px;
}

.card-cont {
  padding: 20px;
}
