<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body>
  <section class="hero is-fullheight is-default is-bold">
    <% include ../partials/header %>
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-4">
            <h5 class="subtitle is-5">
              <span class="icon is-medium">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
              </span>
              Check out my <a href="https://drive.google.com/file/d/10auBDdS0HpbNpkz1Z24d59saKLEbU7xa/view" target="_blank">resume</a>.
            </h5>
            <h5 class="subtitle is-5">
              <span class="icon is-medium">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </span>
              Connect with me on <a href="https://www.linkedin.com/in/alisonlawyer/" target="_blank">LinkedIn</a>.
            </h5>
            <h5 class="subtitle is-5">
              <span class="icon is-medium">
                <i class="fa fa-github" aria-hidden="true"></i>
              </span>
              Find me on <a href="https://github.com/anlawyer" target="_blank">GitHub</a>.
            </h5>
            <h5 class="subtitle is-5">
              <span class="icon is-medium">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </span>
              Follow me on <a href="https://twitter.com/alison_lawyer" target="_blank">Twitter</a>.
            </h5>
          </div>
          <div class="column is-7 is-offset-1">
            <h5 class="subtitle is-5">
              Jobs? Networking? Coffee? Send me a message!
            </h5>
            <form action="https://formspree.io/hello@alisoncodes.com"
              method="POST" id="emailForm">
              <div class="field">
                <label class="label">Name</label>
                <div class="control has-icons-left">
                  <input class="input" type="text" placeholder="Your Name" name="name">
                  <span class="icon is-small is-left">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left">
                  <input class="input" type="email" placeholder="Your Email" name="_replyto">
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label class="label">Message</label>
                <div class="control">
                  <textarea class="textarea" placeholder="Your Message" name="message"></textarea>
                </div>
              </div>
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-dark" type="submit" value="Send">Submit</button>
                </div>
                <div class="control">
                  <button class="button is-text cancel">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <% include ../partials/footer %>
    </section>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script async type="text/javascript" src="../../js/bulma.js"></script> -->
</body>
