<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body>
  <section class="hero is-fullheight is-default is-bold">
    <% include ../partials/header %>
    <div class="hero-body">
      <div class="container">
        <div class="columns is-multiline">
          <div class="column is-12">
            <div class="title is-3">
              Fast Company Article Scraper
            </div>
          </div>
          <div class="column is-8 is-offset-2">
            <figure class="image">
              <img src="../../images/fc-screencast.gif">
            </figure>
          </div>
          <div class="column is-8 is-offset-2">
            <p>
              An application that scrapes articles from fastcompany.com and allows users to save and comment on them.
              Used Cheerio to scrape the Fast Company website. Used Node.js, Axios for in-app routing and API creation.
              Used MongoDB and Mongoose with CRUD operations to store scraped and saved articles, and comments.
              Used Handlebars.js for HTML templating and Bulma for styling. Used Express.js for server creation.

              An application that scrapes articles from fastcompany.com and allows
              users to save and comment on them. I used Cheerio and Axios to scrape
              the Fast Company website, and MongoDB/Mongoose to store all scraped
              articles, saved articles, and comments. I used Bulma and Handlebars.js
              for front-end. A full stack application using Node.js, Express.js,
              MongoDB, Bulma, Handlebars.js, JavaScript, Cheerio and Axios.
            </p>
          </div>
          <div class="column is-12">
            <div class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <a class="button" href="/nyt">
                    <span class="icon">
                      <i class="fa fa-2x fa-angle-left"></i>
                    </span>
                    <span>NYT Article Search</span>
                  </a>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <a class="button" href="/games">
                    <span>Games</span>
                    <span class="icon">
                      <i class="fa fa-2x fa-angle-right"></i>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        <!-- closing columns -->
        </div>
      <!-- closing container -->
      </div>
    <!-- closing hero-body -->
    </div>
    <% include ../partials/footer %>
  </section>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script async type="text/javascript" src="../../js/bulma.js"></script> -->
</body>
</html>
