<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body>
  <section class="hero is-fullheight is-default is-bold">
    <% include ../partials/header %>
    <div class="hero-body">
      <div class="container">
        <div class="columns is-multiline">
          <div class="column is-10 is-offset-1">
            <div class="columns">
              <div class="column is-4">
                <div class="card">
                  <div class="card-image">
                    <figure class="image">
                      <img src="../../images/FriendFinder-questions.png">
                    </figure>
                  </div>
                  <div class="card-content">
                    <h4 class="title is-4">Friend Finder</h4>
                    <div class="content">
                      <p>
                        Friend Finder is a full-stack application using Node.js, Express.js
                        and Bootstrap. Users take a survey and are matched to a user who has
                        also taken the survey through an algorithm that finds the least amount of
                        difference between their answers.
                      </p>
                      <a class="button" href="https://lit-depths-81807.herokuapp.com/">Live app</a>
                      <a class="button" href="https://github.com/anlawyer/FriendFinder">Source code</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- trivia -->
              <div class="column is-4">
                <div class="card">
                  <div class="card-image">
                    <figure class="image">
                      <img src="../../images/Trivia.png">
                    </figure>
                  </div>
                  <div class="card-content">
                    <h4 class="title is-4">The Office Trivia</h4>
                    <div class="content">
                      <p>
                        This is a "The Office"-themed trivia game. It's a front-end only app and
                        uses HTML5, Bootstrap, Javascript, jQuery - and a timer for added suspense.
                      </p>
                      <a class="button" href="https://anlawyer.github.io/TriviaGame/">Live app</a>
                      <a class="button" href="https://github.com/anlawyer/TriviaGame">Source code</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- GifTastic -->
              <div class="column is-4">
                <div class="card">
                  <div class="card-image">
                    <figure class="image">
                      <img src="../../images/GifTastic-buttons.png">
                    </figure>
                    <figure class="image">
                      <img src="../../images/GifTastic-gifs.png">
                    </figure>
                  </div>
                  <div class="card-content">
                    <h4 class="title is-4">GifTastic</h4>
                    <div class="content">
                      <p>
                        GifTastic is a front-end application that uses the Giphy API to
                        display gifs on the click of a button, and is built with HTML5,
                        Bootstrap, Javascript, and jQuery. The user is able to add buttons
                        of any topic, and click on each gif to start it playing and stop it playing.
                      </p>
                      <a class="button" href="https://anlawyer.github.io/GifTastic/">Live app</a>
                      <a class="button" href="https://github.com/anlawyer/GifTastic">Source code</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-12">
            <div class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <a class="button" href="/fastco">
                    <span class="icon">
                      <i class="fa fa-2x fa-angle-left"></i>
                    </span>
                    <span>FastCo Scraper</span>
                  </a>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <a class="button" href="/gottago">
                    <span>Gotta Go</span>
                    <span class="icon">
                      <i class="fa fa-2x fa-angle-right"></i>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        <!-- closing columns -->
        </div>
      <!-- closing container -->
      </div>
    <!-- closing hero-body -->
    </div>
    <% include ../partials/footer %>
  </section>
</body>
</html>
