<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body>
  <section class="hero is-fullheight is-default is-bold">
    <% include ../partials/header %>
    <div class="hero-body">
      <div class="container">
        <div class="columns is-multiline">
          <div class="column is-3 is-offset-5">
            <!-- <div class="level">
              <div class="level-left">-->
                <!-- <div class="level-item">  -->
                  <div class="title is-3">
                    Gotta Go!
                  </div>
                <!-- </div> -->
              <!-- </div>
              <div class="level-right">
                <div class="level-item"> -->
                  <!-- <a href="https://gotta-go.herokuapp.com/">Check out Gotta live</a> -->
                  <!-- <a href="https://github.com/mford008/gotta-go-react">Source code</a> -->
                <!-- </div>
              </div>
            </div> -->
          </div>
          <div class="column is-8 is-offset-2">
            <div class="title is-5">
              The Problem:
            </div>
            <div class="">
              <p>
                Everyone has "gotta go" at one point or another. Drivers, especially
                those providing rides for others through ride-sharing apps, can end
                up in a place they don't always recognize. We found a lack of information
                online about the locations of bathrooms, even in large cities like San Francisco.
              </p>
            </div>
            <br />
            <div class="title is-5">
              The Solution:
            </div>
            <div class="">
              <p>
                <a href="https://gotta-go.herokuapp.com/">Gotta Go</a>
                aims to solve that problem by crowdsourcing information about
                restrooms and pit stops by people who are actually using them.
                Our app allows users to see all the locations of restrooms input by
                other users, and allows them to add new locations themselves.
              </p>
            </div>
          </div>
          <!-- <div class="column is-4 is-offset-1">
            <figure class="image">
              <img src="../../images/GottaGo-add.png">
            </figure>
          </div>
          <div class="column is-4 is-offset-2">
            <figure class="image">
              <img src="../../images/GottaGo-tiles.png">
            </figure>
          </div> -->
          <div class="column is-8 is-offset-2">
            <p>
              We originally created the app using HTML with EJS templating, Bulma for
              styling, and MySQL to store information including location, comments,
              and user login information.
            </p>
            <br />
            <p>
              After some time, we decided to refactor our codebase, using React for
              the frontend, and MongoDB for less restrictive data handling.
            </p>
          </div>
          <!-- <div class="column is-4 is-offset-4">
            <figure class="image">
              <img src="../../images/gg2.gif">
            </figure>
          </div> -->
          <div class="column is-8 is-offset-2">
            <div class="title is-5">
              My role:
            </div>
            <p>
              I began by writing user stories for the app itself.
              I the wrote out what the team needed to code to make each story a reality.
            </p>
            <div class="column is-8 is-offset-2">
              <figure class="image">
                <img src="../../images/user-story-detail.png">
              </figure>
            </div>
            <p>
              Our team used Trello to organize our project, so I also wrote the stories
              in a list there for the team to reference.
            </p>
            <br />
            <div class="columns">
              <div class="column is-4">
                <figure class="image">
                  <img src="../../images/user-story-list.png">
                </figure>
              </div>
              <div class="column is-8">
                <figure class="image">
                  <img src="../../images/user-story-checklist.png">
                </figure>
              </div>
            </div>
            <p>
              For both iterations of the application, I created wireframes and the
              basic structure of the app. The first iteration was slightly more basic,
              requiring simple structure and user flow only.
            </p>
            <div class="column is-12">
              <figure class="image">
                <img src="../../images/gg1-wireframe.png">
              </figure>
            </div>
            <div class="column is-12">
              <figure class="image">
                <img src="../../images/gg1-user-flow.png">
              </figure>
            </div>
            <p>
              For the second iteration, I created this wireframe with a
              React component structure and data flow explaining which with backend routes
              would be triggered. All together, it is defined as an "interaction flow."
              (Idea and template inspired by
              <a href="https://uxplanet.org/an-introduction-to-interaction-flows-a4f783402529">
                Havana's post.
              </a>)
              This was helpful for my team to be able to check back on this
              structure whenever we got stuck to remember how things should
              be arranged.
            </p>
          <!-- </div> -->
          <!-- <div class="column is-8 is-offset-2"> -->
            <div class="column is-12">
              <figure class="image">
                <img src="../../images/gg2-components.png">
              </figure>
            </div>
            <p>
              That looks like a lot of UI design, Alison. I thought you said you
              were a web developer!
            </p>
            <br />
            <p>
              I sure am! Here's how I contributed to each version of the app.
            </p>
          </div>
          <div class="column is-8 is-offset-2">
            <div class="title is-5">
              The Process:
            </div>
            <p>
              After the app was laid out and the team had a direction to follow,
              we divided our work so we can each work on a balance between our strengths,
              and skills we wanted to learn.
            </p>
            <br />
            <p>
              We kept track of our progress on Trello, and used Slack for consitent communication.
              We also used GitHub for version control. Due to our excellent communication,
              we were able to avoid any major merge conflicts and
              were able to keep track of our progress very easily. Here's the
              <a href="https://github.com/mford008/gotta-go-react">source code</a> for our React
              version, and the <a href="https://github.com/anlawyer/GottaGo">code</a> for our first iteration.
            </p>
            <br />
            <p>
              Here are the links for the working versions of the apps.
              <br />
              Version 1: <a href="https://murmuring-basin-97486.herokuapp.com/">Gotta Go!</a>
              <br />
              Version 2: <a href="https://gotta-go.herokuapp.com/">Gotta Go - React</a>
            </p>
            <br />
            <p>
              We recommend resizing your browser to be about the size of a cell phone. You can also
              open your browser console and resize the viewport to a phone size!
            </p>
            <br />
            <p>
              The app is intended to be used on cell phones, as one likely will not have
              access to their desktop computer on the road.
              A React Native version of the app is currently being developed.
            </p>
          </div>
          <!-- </div> -->
          <!-- bottom nav -->
          <div class="column is-12">
            <div class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <a class="button" href="/games">
                    <span class="icon">
                      <i class="fa fa-2x fa-angle-left"></i>
                    </span>
                    <span>Games</span>
                  </a>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <a class="button" href="/nyt">
                    <span>NYT Article Search</span>
                    <span class="icon">
                      <i class="fa fa-2x fa-angle-right"></i>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        <!-- closing columns -->
        </div>
      <!-- closing container -->
      </div>
    <!-- closing hero-body -->
    </div>
    <% include ../partials/footer %>
  </section>
</body>
</html>
