<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body>
  <section class="hero is-fullheight is-default is-bold">
    <% include ../partials/header %>
    <div class="hero-body">
      <div class="container">
        <div class="columns is-multiline">
          <div class="column is-12">
            <h3 class="title is-3">
              Crowdsourced restroom locations
            </h3>
            <h5 class="subtitle">
              When you gotta go, you gotta go
            </h5>
          </div>
          <div class="column is-4 is-offset-1">
            <figure class="image">
              <img src="../../images/GottaGo-add.png">
            </figure>
          </div>
          <div class="column is-4 is-offset-2">
            <figure class="image">
              <img src="../../images/GottaGo-tiles.png">
            </figure>
          </div>
          <div class="column is-8 is-offset-2">
            <p>
              A crowdsourced application that provides drivers with location and
              information about nearby bathrooms that other users have input. This
              app was created as a group project for the UC Berkeley Extension
              Coding Bootcamp.
            </p>
            <br />
            <p>
              My role in the group was to create user stories for
              each page in the app, and design the wireframe and interactions for
              each story. I helped set up and maintain the MySQL database, and
              wrote routes for the flow of data from the frontend to the backend
              of application, including user data and location data.
              This is a full stack application using Node.js, Express.js, MySQL,
              Sequelize, Bulma, EJS, HTML, JavaScript and jQuery.
            </p>
          </div>
          <!-- closing columns -->
          </div>
        <!-- closing container -->
        </div>
      <!-- closing hero-body -->
      </div>
    <% include ../partials/footer %>
  </section>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script async type="text/javascript" src="../../js/bulma.js"></script> -->
</body>
</html>
