<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body>
  <% include ../partials/header %>
  <figure class="bg-img img-responsive">
    <section class="hero is-fullheight is-default is-bold">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <!-- column for intro -->
            <!-- left side -->
            <!-- <div class="column is-2">
              <div class="left-nav"> -->
                <!-- <h2 class="is-2">
                  HELLO
                </h2> -->
              <!-- </div>
            </div> -->
            <!-- right side -->
            <div class="column is-8 is-offset-3">
              <div class="columns is-multiline">
                <div class="column is-10 is-offset-1 intro">
                  <h2 class="title is-3">
                    HI, I'M ALISON
                  </h2>
                  <br />
                  <h5 class="subtitle is-5">
                    Full stack web developer, UI designer, UX enthusiast.
                  </h5>
                  <p>
                    I'm a detail-oriented, user-focused designer and developer.
                    I have a BA in Cognitive Science from UC Berkeley, and a certificate in
                    Full Stack Web Development from the UC Berkeley Extension. I'm passionate about the
                    intersection of psychology, design, and technology, and I'm looking
                    for an opportunity to make that passion a career.
                  </p>
                  <br />
                  <p class="subtitle">
                    I'm skilled in frontend technologies,
                  </p>
                  <div class="columns">
                    <div class="column is-4">
                      <ul>
                        <li>React.js</li>
                        <li>HTML and templates:</li>
                        <li>Handlebars.js</li>
                        <li>EJS</li>
                      </ul>
                    </div>
                    <div class="column is-4">
                      <ul>
                        <li>CSS and frameworks:</li>
                        <li>Bootstrap</li>
                        <li>Bulma</li>
                        <li>Flexbox</li>
                      </ul>
                    </div>
                    <div class="column is-4">
                      <ul>
                        <li>JavaScript:</li>
                        <li>AJAX</li>
                        <li>jQuery</li>
                        <li>APIs</li>
                      </ul>
                    </div>
                  <!-- closing nested columns -->
                  </div>
                  <p class="subtitle">
                    backend technologies, and full stack software design patterns.
                  </p>
                  <div class="columns">
                    <div class="column is-4">
                      <ul>
                        <li>Server-side JavaScript:</li>
                        <li>Node.js</li>
                        <li>Express.js</li>
                        <li>HTTP</li>
                      </ul>
                    </div>
                    <div class="column is-4">
                      <ul>
                        <li>Databases and ORMs:</li>
                        <li>MySQL and Sequelize</li>
                        <li>MongoDB and Mongoose</li>
                      </ul>
                    </div>
                    <div class="column is-4">
                      <ul>
                        <li>MVC:</li>
                        <li>Model</li>
                        <li>View</li>
                        <li>Controller</li>
                      </ul>
                    </div>
                  <!-- closing nested columns -->
                  </div>
                  <p class="subtitle">
                    I'm also skilled at designing user interfaces using design software
                    and processes such as wireframing, journey creation, and user research.
                  </p>
                  <div class="columns">
                    <div class="column is-4">
                      <ul>
                        <li>Adobe Creative Cloud:</li>
                        <li>Photoshop</li>
                        <li>Illustrator</li>
                        <li>InDesign</li>
                        <li>Experience Design</li>
                      </ul>
                    </div>
                    <div class="column is-4">
                      <ul>
                        <li>Wireframing</li>
                        <li>Prototyping</li>
                        <li>Figma</li>
                        <li>Sketch</li>
                      </ul>
                    </div>
                    <div class="column is-4">
                      <ul>
                        <li>Design ethnography:</li>
                        <li>User research</li>
                        <li>Interviewing</li>
                        <li>User story writing</li>
                        <li>User journey creation</li>
                      </ul>
                    </div>
                  <!-- closing nested columns -->
                  </div>
                  <!-- <p class="subtitle">
                    Check out some of my projects below!
                  </p> -->
                </div>
                <div class="column is-10 is-offset-1 projects">
                  <h2 class="title is-3">
                    FEATURED PROJECTS
                  </h2>
                  <div class="columns is-multiline">
                    <div class="column is-6 card-cont">
                      <div class="card">
                        <div class="card-image">
                          <a href="/gottago">
                          <figure class="image ">
                            <img src="../../images/gg2-landing.png">
                          </figure>
                        </a>
                        </div>
                        <div class="card-content">
                          <a href="/gottago">
                            <h4 class="title is-4">Gotta Go!</h4>
                          </a>
                          <br />
                          <p>
                            An app for crowdsourcing restroom locations.
                          </p>
                        </div>
                      </div>
                    </div>
                    <!-- FastCo scraper -->
                    <div class="column is-6 card-cont">
                      <div class="card">
                        <div class="card-image">
                          <a href="/fastco">
                            <figure class="image">
                              <img src="../../images/fc-landing.png">
                            </figure>
                          </a>
                        </div>
                        <div class="card-content">
                          <a href="/fastco">
                            <h4 class="title is-4">Fast Co. Article Scraper</h4>
                          </a>
                          <br />
                          <p>
                            An MEHN app that scrapes articles from fastcompany.com with Cheerio.
                          </p>
                        </div>
                      </div>
                    </div>
                    <!-- NYT Search -->
                    <div class="column is-6 card-cont">
                      <div class="card">
                        <div class="card-image">
                          <a href="/nyt">
                            <figure class="image">
                              <img src="../../images/nyt-search.png">
                            </figure>
                          </a>
                        </div>
                        <div class="card-content">
                          <a href="/nyt">
                            <h4 class="title is-4">NYT Article Search</h4>
                          </a>
                          <br />
                          <p>
                            An MERN-stack app that searches for articles from the New York Times via their API.
                          </p>
                        </div>
                      </div>
                      <br />
                    </div>
                    <!-- spark 2.0 -->
                    <!-- <div class="column is-6 card-cont">
                      <div class="card">
                        <div class="card-image">
                          <a href="/games">
                            <figure class="image">
                              <img src="../../images/GifTastic-gifs.png">
                            </figure>
                          </a>
                        </div>
                        <div class="card-content">
                          <a href="/games">
                            <h4 class="title is-4">spark redesign</h4>
                          </a>
                          <br />
                          <p>
                            Product management!
                          </p>
                        </div>
                      </div>
                    </div> -->
                    <!-- info diet -->
                    <!-- <div class="column is-6 card-cont">
                      <div class="card">
                        <div class="card-image">
                          <a href="/games">
                            <figure class="image">
                              <img src="../../images/GifTastic-gifs.png">
                            </figure>
                          </a>
                        </div>
                        <div class="card-content">
                          <a href="/games">
                            <h4 class="title is-4">info diet</h4>
                          </a>
                          <br />
                          <p>
                            UX class!!!
                          </p>
                        </div>
                      </div>
                    </div> -->
                    <!-- games -->
                    <div class="column is-6 card-cont">
                      <div class="card">
                        <div class="card-image">
                          <a href="/games">
                            <figure class="image">
                              <img src="../../images/GifTastic-gifs.png">
                            </figure>
                          </a>
                        </div>
                        <div class="card-content">
                          <a href="/games">
                            <h4 class="title is-4">A collection of fun games</h4>
                          </a>
                          <br />
                          <p>
                            Games are fun!!!
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- column for contact -->
                <div class="column is-10 is-offset-1 contact">
                  <h2 class="title is-3">
                    REACH OUT
                  </h2>
                  <div class="columns is-multiline">
                    <div class="column is-6">
                      <h5 class="subtitle is-5">
                        <span class="icon is-medium">
                          <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        </span>
                        Check out my <a href="https://drive.google.com/file/d/10auBDdS0HpbNpkz1Z24d59saKLEbU7xa/view" target="_blank">resume</a>.
                      </h5>
                      <h5 class="subtitle is-5">
                        <span class="icon is-medium">
                          <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </span>
                        Connect with me on <a href="https://www.linkedin.com/in/alisonlawyer/" target="_blank">LinkedIn</a>.
                      </h5>
                      <h5 class="subtitle is-5">
                        <span class="icon is-medium">
                          <i class="fa fa-github" aria-hidden="true"></i>
                        </span>
                        Find me on <a href="https://github.com/anlawyer" target="_blank">GitHub</a>.
                      </h5>
                      <h5 class="subtitle is-5">
                        <span class="icon is-medium">
                          <i class="fa fa-twitter" aria-hidden="true"></i>
                        </span>
                        Follow me on <a href="https://twitter.com/alison_lawyer" target="_blank">Twitter</a>.
                      </h5>
                      <h5 class="subtitle is-5">
                        <span class="icon is-medium">
                          <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                        Send me an <a href="mailto:hello@alisoncodes.com?subject=hello">email</a>.
                      </h5>
                    </div>
                    <div class="column is-6">
                      <figure class="image">
                        <img src="../../images/me.JPG" alt="picture of alison">
                      </figure>
                      <br />
                      <div class="columns">
                        <div class="column is-12">
                          <p>
                            While I'm not coding, I love to travel and take photographs.
                            <span class="icon">
                              <i class="fa fa-sun-o" aria-hidden="true"></i>
                            </span>
                          </p>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="column is-10">
                      <form action="https://formspree.io/hello@alisoncodes.com"
                        method="POST" id="emailForm">
                        <div class="field">
                          <label class="label">Name</label>
                          <div class="control has-icons-left">
                            <input class="input" type="text" placeholder="Your Name" name="name">
                            <span class="icon is-small is-left">
                              <i class="fa fa-user"></i>
                            </span>
                          </div>
                        </div>
                        <div class="field">
                          <label class="label">Email</label>
                          <div class="control has-icons-left">
                            <input class="input" type="email" placeholder="Your Email" name="_replyto">
                            <span class="icon is-small is-left">
                              <i class="fa fa-envelope"></i>
                            </span>
                          </div>
                        </div>
                        <div class="field">
                          <label class="label">Message</label>
                          <div class="control">
                            <textarea class="textarea" placeholder="Your Message" name="message"></textarea>
                          </div>
                        </div>
                        <div class="field is-grouped">
                          <div class="control">
                            <button class="button is-dark" type="submit" value="Send">Submit</button>
                          </div>
                          <div class="control">
                            <button class="button is-text cancel">Cancel</button>
                          </div>
                        </div>
                      </form>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="home-foot">
        <div class="container">
          <div class="tabs is-centered">
            <ul>
              <li>
                <a href="/">
                  <span class="icon is-medium">
                    <i class="fa fa-2x fa-home" aria-hidden="true"></i>
                  </span>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/alison_lawyer" target="_blank">
                  <span class="icon is-medium">
                    <i class="fa fa-2x fa-twitter" aria-hidden="true"></i>
                  </span>
                </a>
              </li>
              <li>
                <a href="https://github.com/anlawyer" target="_blank">
                  <span class="icon is-medium">
                    <i class="fa fa-2x fa-github" aria-hidden="true"></i>
                  </span>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/alisonlawyer/" target="_blank">
                  <span class="icon is-medium">
                    <i class="fa fa-2x fa-linkedin" aria-hidden="true"></i>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </figure>
</body>
</html>
