<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body>
  <section class="hero is-fullheight is-default is-bold">
  <% include ../partials/header %>
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-4">
            <figure class="image">
              <img src="../../images/me.JPG" alt="picture of alison">
            </figure>
            <br />
            <div class="columns">
              <div class="column is-12">
                <p>
                  That's me!
                  <span class="icon">
                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                  </span>
                </p>
                <br />
                <p>
                  While I'm not coding, I love to travel, bake, pet puppies,
                  and take pictures. I also enjoy the sun and being outside.
                  <span class="icon">
                    <i class="fa fa-sun-o" aria-hidden="true"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="column is-7 is-offset-1">
            <h2 class="title is-2">
              Hi, I'm Alison.
            </h2>
            <br>
            <h5 class="subtitle is-5">
              Full stack web developer, UI designer, UX enthusiast.
            </h5>
            <p>
              I'm a detail-oriented designer and developer with strong analytical abilities.
              I'm passionate about solving real-world problems for real people
              by understanding every part of the problem and solution. I love learning
              about design, data, AI, emerging technologies, and art.
            </p>
            <br>
            <p>
              I have a BA in Cognitive Science from UC Berkeley, and a certificate in
              Full Stack Web Development from the UC Berkeley Extension. I discovered
              my passion for the intersection of psychology, design, and technology towards the end of my
              four years at Cal and enrolled in the Full Stack program at the Extension
              soon after graduating. I'm currently looking for roles in frontend
              engineering/design and full stack development.
            </p>
          </div>
        </div>
      </div>
    </div>
    <% include ../partials/footer %>
  </section>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script async type="text/javascript" src="../../js/bulma.js"></script>
</body>
</html>
