<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body>
  <section class="hero is-fullheight is-default is-bold">
  <% include ../partials/header %>
    <div class="hero-body">
      <div class="container">
        <div class="columns is-multiline">
          <!-- column for intro -->
          <div class="column is-10 is-offset-1">
            <div class="columns">
              <div class="column is-4">
                <figure class="image">
                  <img src="../../images/me.JPG" alt="picture of alison">
                </figure>
                  <br />
                  <div class="columns">
                    <div class="column is-12">
                      <p>
                        While I'm not coding, I love to travel, be outdoors, and take photographs.
                        <span class="icon">
                          <i class="fa fa-sun-o" aria-hidden="true"></i>
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="column is-7 is-offset-1">
                  <h2 class="title is-2">
                    Hi, I'm Alison.
                  </h2>
                  <br />
                  <h5 class="subtitle is-5">
                    Full stack web developer, UI designer, UX enthusiast.
                  </h5>
                  <p>
                    I'm a detail-oriented, user-focused designer and developer.
                    I have a BA in Cognitive Science from UC Berkeley, and a certificate in
                    Full Stack Web Development from the UC Berkeley Extension. I'm passionate about the
                    intersection of psychology, design, and technology, and I'm looking
                    for an opportunity to make that passion a career.
                  </p>
                </div>
              </div>
            </div>
          <!-- column for projects -->
          <div class="column is-10 is-offset-1">
            <h2 class="title is-2">
              Featured projects
            </h2>
            <div class="columns is-multiline">
              <div class="column is-6">
                <div class="card">
                  <div class="card-image">
                    <a href="/gottago">
                    <figure class="image">
                      <img src="../../images/gg2-landing.png">
                    </figure>
                  </a>
                  </div>
                  <div class="card-content">
                    <a href="/gottago">
                      <h4 class="title is-4">Gotta Go!</h4>
                    </a>
                    <br />
                    <p>
                      An app for crowdsourcing restroom locations.
                    </p>
                  </div>
                </div>
              </div>
              <!-- FastCo scraper -->
              <div class="column is-6">
                <div class="card">
                  <div class="card-image">
                    <a href="/fastco">
                      <figure class="image">
                        <img src="../../images/fc-landing.png">
                      </figure>
                    </a>
                  </div>
                  <div class="card-content">
                    <a href="/fastco">
                      <h4 class="title is-5">Fast Co. Article Scraper</h4>
                    </a>
                    <br />
                    <p>
                      An MEHN app that scrapes articles from fastcompany.com with Cheerio.
                    </p>
                  </div>
                </div>
              </div>
              <!-- NYT Search -->
              <div class="column is-6">
                <div class="card">
                  <div class="card-image">
                    <a href="/nyt">
                      <figure class="image">
                        <img src="../../images/nyt-search.png">
                      </figure>
                    </a>
                  </div>
                  <div class="card-content">
                    <a href="/nyt">
                      <h4 class="title is-4">NYT Article Search</h4>
                    </a>
                    <br />
                    <!-- <div class="content"> -->
                      <p>
                        An MERN-stack app that searches for articles from the New York Times via their API.
                      </p>
                      <!-- <a href="/nyt">Learn more</a> -->
                      <!-- <a class="button" href="https://stark-caverns-91687.herokuapp.com/">Live app</a>
                      <a class="button" href="https://github.com/anlawyer/NYT-Article-Search">Source code</a> -->
                    <!-- </div> -->
                  </div>
                </div>
                <br />
              </div>
              <!-- games -->
              <div class="column is-6">
                <div class="card">
                  <div class="card-image">
                    <a href="/games">
                      <figure class="image">
                        <img src="../../images/GifTastic-gifs.png">
                      </figure>
                    </a>
                  </div>
                  <div class="card-content">
                    <a href="/games">
                      <h4 class="title is-5">A collection of fun games</h4>
                    </a>
                    <br />
                    <p>
                      Games are fun!!!
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- column for image -->
          <div class="column is-10 is-offset-1">
            <h2 class="title is-2">
              Contact me!
            </h2>
            <div class="columns is-multiline">
              <!-- <div class="column is-6"> -->
                <!-- <br /> -->
                <!-- <figure class="image">
                  <img src="../../images/me.JPG" alt="picture of alison">
                </figure>
                <br />
                <div class="columns">
                  <div class="column is-12">
                    <p> -->
                    <!-- <span class="icon">
                      <i class="fa fa-arrow-up" aria-hidden="true"></i>
                    </span> -->
                      <!-- That's me! -->
                      <!-- While I'm not coding, I love to travel, be outdoors, and take photographs.
                      <span class="icon">
                        <i class="fa fa-sun-o" aria-hidden="true"></i>
                      </span>
                    </p>
                  </div>
                </div>
              </div> -->
              <div class="column is-5">
                <h5 class="subtitle is-5">
                  <span class="icon is-medium">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                  </span>
                  Check out my <a href="https://drive.google.com/file/d/10auBDdS0HpbNpkz1Z24d59saKLEbU7xa/view" target="_blank">resume</a>.
                </h5>
                <h5 class="subtitle is-5">
                  <span class="icon is-medium">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                  </span>
                  Connect with me on <a href="https://www.linkedin.com/in/alisonlawyer/" target="_blank">LinkedIn</a>.
                </h5>
                <h5 class="subtitle is-5">
                  <span class="icon is-medium">
                    <i class="fa fa-github" aria-hidden="true"></i>
                  </span>
                  Find me on <a href="https://github.com/anlawyer" target="_blank">GitHub</a>.
                </h5>
                <h5 class="subtitle is-5">
                  <span class="icon is-medium">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </span>
                  Follow me on <a href="https://twitter.com/alison_lawyer" target="_blank">Twitter</a>.
                </h5>
              </div>
              <div class="column is-7">
                <!-- <h5 class="subtitle is-5">
                Jobs? Networking? Coffee? Send me a message!
              </h5> -->
                <form action="https://formspree.io/hello@alisoncodes.com"
                  method="POST" id="emailForm">
                  <div class="field">
                    <label class="label">Name</label>
                    <div class="control has-icons-left">
                      <input class="input" type="text" placeholder="Your Name" name="name">
                      <span class="icon is-small is-left">
                        <i class="fa fa-user"></i>
                      </span>
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">Email</label>
                    <div class="control has-icons-left">
                      <input class="input" type="email" placeholder="Your Email" name="_replyto">
                      <span class="icon is-small is-left">
                        <i class="fa fa-envelope"></i>
                      </span>
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">Message</label>
                    <div class="control">
                      <textarea class="textarea" placeholder="Your Message" name="message"></textarea>
                    </div>
                  </div>
                  <div class="field is-grouped">
                    <div class="control">
                      <button class="button is-dark" type="submit" value="Send">Submit</button>
                    </div>
                    <div class="control">
                      <button class="button is-text cancel">Cancel</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% include ../partials/footer %>
  </section>
</body>
</html>
