<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body>
  <section class="hero is-fullheight is-default is-bold">
  <% include ../partials/header %>
    <div class="hero-body">
      <div class="container">
        <div class="columns is-multiline">
          <div class="column is-6 is-offset-1">
            <h2 class="title is-2">
              Hi, I'm Alison.
            </h2>
            <br />
            <h5 class="subtitle is-5">
              Full stack web developer, UI designer, UX enthusiast.
            </h5>
            <p>
              I'm a detail-oriented, user-focused designer and developer.
              I have a BA in Cognitive Science from UC Berkeley, and a certificate in
              Full Stack Web Development from the UC Berkeley Extension. I'm passionate about the
              intersection of psychology, design, and technology, and I'm looking
              for an opportunity to make that passion a career.
            </p>
            <br />
            <a class="button portfolio-button is-large" href="/portfolio">
              Check out my projects!
            </a>
            <a class="button portfolio-button is-large" href="/contact">
              Contact me
            </a>
          </div>
          <div class="column is-4">
            <figure class="image">
              <img src="../../images/me.JPG" alt="picture of alison">
            </figure>
            <br />
            <div class="columns">
              <div class="column is-12">
                <p>
                <!-- <span class="icon">
                  <i class="fa fa-arrow-up" aria-hidden="true"></i>
                </span> -->
                  That's me!
                  While I'm not coding, I love to travel, be outdoors, and take photographs.
                  <span class="icon">
                    <i class="fa fa-sun-o" aria-hidden="true"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% include ../partials/footer %>
  </section>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script async type="text/javascript" src="../../js/bulma.js"></script> -->
</body>
</html>
