<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body>
  <section class="hero is-fullheight is-default is-bold">
  <% include ../partials/header %>
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-4">
            <figure class="image">
              <img src="../../images/me.JPG" alt="picture of alison">
            </figure>
          </div>
          <div class="column is-7 is-offset-1">
            <h1 class="title is-2">
              Hi, I'm Alison.
            </h1>
            <br>
            <h2 class="subtitle is-5">
              Full stack web developer.
            </h2>
            <p>
              I'm passionate about the intersection of humans and technology. I
              have a bachelor's degree in Cognitive Science and a certificate in
              full stack web development and I love to learn about design and data.
            </p>
            <br>
          </div>
        </div>
        <!-- <div class="columns is-centered">
          <div class="column is-12 has-text-centered">
            <br>
            <h2 class="title is-3">Contact me!</h2>
            <a href="https://twitter.com/alison_lawyer" target="_blank">
              <span class="icon is-medium">
                <i class="fa fa-2x fa-twitter" aria-hidden="true"></i>
              </span>
            </a>
            <a href="https://github.com/anlawyer" target="_blank">
              <span class="icon is-medium">
                <i class="fa fa-2x fa-github" aria-hidden="true"></i>
              </span>
            </a>
            <a href="https://www.linkedin.com/in/alisonlawyer/" target="_blank">
              <span class="icon is-medium">
                <i class="fa fa-2x fa-linkedin" aria-hidden="true"></i>
              </span>
            </a>
            <a href="https://drive.google.com/file/d/0B_ZTpD5GW0CvdThvWExjNVBHOGs/view?usp=sharing" target="_blank">
              <span class="icon is-medium">
                <i class="fa fa-2x fa-file-text-o" aria-hidden="true"></i>
              </span>
            </a>
          </div>
        </div> -->
      </div>
    </div>
    <% include ../partials/footer %>
  </section>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script async type="text/javascript" src="../../js/bulma.js"></script>
</body>
</html>
