<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body>
  <section class="hero is-fullheight is-default is-bold">
    <% include ../partials/header %>
    <div class="hero-body">
      <div class="container">
        <div class="columns is-multiline">
          <div class="column is-12">
            <div class="title is-3">
              New York Times Article Search
            </div>
          </div>
          <div class="column is-8 is-offset-2">
            <figure class="image">
              <img src="../../images/nyt-search.gif">
            </figure>
          </div>
          <div class="column is-8 is-offset-2">
            <p>
              A single-page MERN-stack application that finds articles from the New York Times using their API.
              Used Axios and Node.js for in-app routing, and to call the NYT API to search for articles based on user input.
              Used MongoDB and Mongoose with CRUD operations for storage and deletion of saved articles.
              Created frontend with React and used Bootstrap for styling. Used Express.js for server creation.

              An application that searches for articles from the New York Times.
              Users can search for a topic, and can save and delete articles.
              I used Axios for in-app routing and for calling the NYT API to search
              for articles, MongoDB and Mongoose for storage/deletion of saved articles,
              and React and Bootstrap for the frontend. This is a MERN app.
            </p>
          </div>
          <div class="column is-12">
            <div class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <a class="button" href="/gottago">
                    <span class="icon">
                      <i class="fa fa-2x fa-angle-left"></i>
                    </span>
                    <span>Gotta Go</span>
                  </a>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <a class="button" href="/fastco">
                    <span>FastCo Scraper</span>
                    <span class="icon">
                      <i class="fa fa-2x fa-angle-right"></i>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        <!-- closing columns -->
        </div>
      <!-- closing container -->
      </div>
    <!-- closing hero-body -->
    </div>
    <% include ../partials/footer %>
  </section>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script async type="text/javascript" src="../../js/bulma.js"></script> -->
</body>
</html>
