<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body>
  <section class="hero is-fullheight is-default is-bold">
    <% include ../partials/header %>
    <div class="hero-body">
      <div class="container">
        <div class="columns is-multiline">
          <div class="column is-12">
            <div class="title is-3">
              <strong>Full stack apps and projects:</strong>
            </div>
          </div>
          <!-- gotta go -->
          <div class="column is-3 is-offset-2">
            <div class="card">
              <div class="card-image">
                <a href="/gottago">
                <figure class="image">
                  <img src="../../images/gg2-landing.png">
                </figure>
              </a>
              </div>
              <div class="card-content">
                <a href="/gottago">
                  <h4 class="title is-4">Gotta Go!</h4>
                </a>
                <br />
                <p>
                  An app for crowdsourcing restroom locations.
                </p>
                <!-- <a class="button" href="/gottago">Learn more -->

                <!-- <a class="button" href="https://gotta-go.herokuapp.com/">Live app</a>
                <a class="button" href="https://github.com/mford008/gotta-go-react">Source code</a> -->
              </div>
            </div>
          </div>
          <!-- NYT Search -->
          <div class="column is-3">
            <div class="card">
              <div class="card-image">
                <a href="/nyt">
                  <figure class="image">
                    <img src="../../images/nyt-search.png">
                  </figure>
                </a>
              </div>
              <div class="card-content">
                <a href="/nyt">
                  <h4 class="title is-4">NYT Article Search</h4>
                </a>
                <br />
                <!-- <div class="content"> -->
                  <p>
                    An MERN-stack app that searches for articles from the New York Times via their API.
                  </p>
                  <!-- <a href="/nyt">Learn more</a> -->
                  <!-- <a class="button" href="https://stark-caverns-91687.herokuapp.com/">Live app</a>
                  <a class="button" href="https://github.com/anlawyer/NYT-Article-Search">Source code</a> -->
                <!-- </div> -->
              </div>
            </div>
            <br />
          </div>
          <!-- FastCo scraper -->
          <div class="column is-3">
            <div class="card">
              <div class="card-image">
                <a href="/fastco">
                  <figure class="image">
                    <img src="../../images/fc-landing.png">
                  </figure>
                </a>
              </div>
              <div class="card-content">
                <a href="/fastco">
                  <h4 class="title is-5">Fast Co. Article Scraper</h4>
                </a>
                <!-- <div class="content"> -->
                  <br />
                  <p>
                    An MEHN app that scrapes articles from fastcompany.com with Cheerio.
                  </p>
                  <!-- <a class="button" href="/fastco">Learn more</a> -->
                  <!-- <a class="button" href="https://shielded-coast-38911.herokuapp.com/">Live app</a>
                  <a class="button" href="https://github.com/anlawyer/FastCo-Scraper">Source code</a> -->
                <!-- </div> -->
              </div>
            </div>
          </div>
          <div class="column is-12">
            <div class="title is-3">
              <strong>Fun web-based apps and games:</strong>
            </div>
            <a class="button is-large" href="/games">Games!</a>
          </div>
          <!-- closing columns -->
          </div>
        <!-- closing container -->
        </div>
      <!-- closing hero-body -->
      </div>
    <% include ../partials/footer %>
  </section>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script async type="text/javascript" src="../../js/bulma.js"></script> -->
</body>
</html>
