<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body>
  <section class="hero is-fullheight is-default is-bold">
    <% include ../partials/header %>
    <div class="hero-body">
      <div class="container">
        <!-- <h1>Featured Projects</h1> -->
        <div class="columns is-multiline">
          <!-- gotta go -->
          <div class="column is-2 is-offset-1">
            <figure class="image">
              <img src="../../images/GottaGo-landing.png">
            </figure>
            <!-- <figure class="image">
              <img src="./images/GottaGo-add.png">
            </figure>
            <figure class="image is-9by16">
              <img src="./images/GottaGo-tiles.png">
            </figure> -->
          </div>
          <div class="column is-6 is-offset-2">
            <h3 class="title is-3">Gotta Go!</h3>
            <p>Gotta Go is a crowdsourced application made for people who are always on the road.
                The app provides users with location and information about nearby
                bathrooms that other users have input.</p>
              <br>
              <p>
                My team and I used Node.js, Express.js, MySQL and the Sequelize ORM
                for the backend,and Bulma and EJS for the frontend.
            </p>
            <br>
            <a href="https://murmuring-basin-97486.herokuapp.com">Live app</a> |
            <a href="https://github.com/anlawyer/project2">Source code</a>
          </div>
          <!-- Eat da Burger -->
          <div class="column is-4 is-offset-1">
            <figure class="image">
              <img src="../../images/EatDaBurger.png">
            </figure>
          </div>
          <div class="column is-6">
            <h3 class="title is-3">Eat Da Burger!</h3>
            <p>Eat Da Burger is a full-stack application using Node.js, Express.js,
              MySQL and Flexbox. Users can add a burger to the database using the form
              provided, then click a button to "devour" the burger, which is then moved
              from the uneaten list to the eaten list.
            </p>
            <br>
            <a href="https://immense-wildwood-17780.herokuapp.com/">Live app</a> |
            <a href="https://github.com/anlawyer/burger">Source code</a>
          </div>
          <!-- Friend finder -->
          <div class="column is-4 is-offset-1">
            <figure class="image">
              <img src="../../images/FriendFinder-questions.png">
            </figure>
          </div>
          <div class="column is-6">
            <h3 class="title is-3">Friend Finder</h3>
            <p>Friend Finder is a full-stack application using Node.js, Express.js
              and Bootstrap. Users take a survey and are matched to a user who has
              also taken the survey through code that finds the least amount of
              difference between their answers.
            </p>
            <br>
            <a href="https://lit-depths-81807.herokuapp.com/">Live app</a> |
            <a href="https://github.com/anlawyer/FriendFinder">Source code</a>
          </div>
          <!-- Bamazon -->
          <div class="column is-2 is-offset-1">
            <figure class="image">
              <img src="../../images/Bamazon.png">
            </figure>
          </div>
          <div class="column is-6 is-offset-2">
            <h3 class="title is-3">Bamazon</h3>
            <p>Bamazon is a backend command line application using Node.js, MySQL and
              the Inquirer NPM package. It functions as a store-front, showing customers
              available products and allowing them to "purchase" and deplete the stock.
              It also allows managers to view all products and inventory, and update
              the stock. The database is updated using CRUD operations.
            </p>
            <br>
            <a href="https://github.com/anlawyer/bamazon/">Source code</a>
          </div>
          <!-- GifTastic -->
          <div class="column is-4 is-offset-1">
            <figure class="image">
              <img src="../../images/GifTastic-gifs.png">
            </figure>
          </div>
          <div class="column is-6">
            <h3 class="title is-3">GifTastic</h3>
            <p>GifTastic is a front-end application that uses the Giphy API to
              display gifs on the click of a button. The user is able to add buttons
              of any topic, and click on each gif to start it playing and stop it playing.
            </p>
            <br>
            <a href="https://anlawyer.github.io/GifTastic/">Live app</a> |
            <a href="https://github.com/anlawyer/GifTastic">Source code</a>
          </div>
          </div>
        </div>
      </div>
    </div>
    <% include ../partials/footer %>
  </section>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script async type="text/javascript" src="../../js/bulma.js"></script>
</body>
</html>
