<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body>
  <section class="hero is-fullheight is-default is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-multiline">
          <div class="column is-12">
            <h1 class="title">Web Development is a journey.</h1>
            <h5 class="subtitle">Here's my journey so far.</h5>
          </div>
          <div class="column is-12">
            <p>
              I graduated from UC Berkeley last May with a degree in Cognitive Science.
              I discovered my passion for design and technology towards the end of my
              4 years at Cal. By that point, I didn't have enough experience to land a
              position in the field. I enrolled in a Full Stack Web Development Bootcamp
              at the UC Berkeley Extension and disovered my passion - and aptitude - for
              coding.
            </p>
            <br />
            <p>
              I loved learning the full stack of web technologies. From HTML, CSS, and
              the different applications of JavaScript, to multiple databases, server code,
              npm packages, APIs, and even React. I thoroughly enjoyed structuring applications
              and designing layouts, as well as the breadth of techologies that I now know.
            </p>
          <!-- closing column for intro -->
          </div>
          <br />
          <div class="column is-12">
            <div class="columns is-multiline">
              <div class="column is-5 left-wrapper">
                <h1 class="title">THE FRONT END</h1>
                <h5 class="subtitle">Client-side technologies</h5 >
                <div class="columns is-multiline">
                  <div class="column is-4">
                    <p>
                      HTML:
                      <ul>
                        <li>EJS</li>
                        <li>Handlebars.js</li>
                      </ul>
                    </p>
                  </div>
                  <div class="column is-4">
                    <p>
                      CSS:
                      <ul>
                        <li>Bootstrap</li>
                        <li>Bulma</li>
                        <li>Flexbox</li>
                      </ul>
                    </p>
                  </div>
                  <div class="column is-4">
                    <p>
                      JavaScript:
                      <ul>
                        <li>AJAX</li>
                        <li>jQuery</li>
                        <li>APIs</li>
                      </ul>
                    </p>
                  </div>
                <!-- closing nested columns -->
                </div>
              <!-- closing left column wrapper -->
              </div>
              <div class="column is-7">
                <div class="columns is-multiline">
                  <div class="column is-12 box">
                    <p>
                      First group project, frontend only. It isn't the most beautiful, but we
                      learned a lot about using third-party APIs and node packages. The project is
                      called <a href='https://momojunzi.github.io/Project-1/'>Bandazz.</a>
                      Here's the source <a href="https://github.com/Momojunzi/Project-1">code.</a>
                    </p>
                  </div>
                  <div class="column is-12 box">
                    <p>
                      fun game!
                    </p>
                  </div>
                <!-- closing nested columns -->
                </div>
              <!-- closing right column -->
              </div>
            <!-- closing nested columns -->
            </div>
          <!-- closing column for front end -->
          </div>
          <div class="column is-12">
            <div class="columns is-multiline">
              <div class="column is-5 left-wrapper">
                <h1 class="title">THE BACK END</h1>
                <h5 class="subtitle">Server-side technologies</h5>
                <div class="columns is-multiline">
                  <div class="column is-4">
                    <p>
                      Backend JS:
                      <ul>
                        <li>Node.js</li>
                        <li>Express.js</li>
                        <li>HTTP req's</li>
                      </ul>
                    </p>
                  </div>
                  <div class="column is-4">
                    <p>
                      Databases:
                      <ul>
                        <li>MySQL</li>
                        <li>MongoDB</li>
                        <li>ORMs: Sequelize, Mongoose</li>
                      </ul>
                    </p>
                  </div>
                <!-- closing nested columns -->
                </div>
              <!-- closing left column wrapper -->
              </div>
            <!-- closing nested columns -->
            </div>
          <!-- closing columm back end -->
          </div>
          <div class="column is-12">
            <div class="columns is-multiline">
              <div class="column is-5 left-wrapper">
                <h1 class="title">THE FULL STACK</h1>
                <h5 class="subtitle">Client and Server working together</h5>
                <div class="columns is-multiline">
                  <div class="column is-8">
                    <p>
                      MVC:
                      <ul>
                        <li>Model</li>
                        <li>View</li>
                        <li>Controller</li>
                      </ul>
                    </p>
                  </div>
                  <div class="column is-8">
                    <h2 class="title is-4">React!</h2>
                  </div>
                <!-- closing nested columns -->
                </div>
              <!-- closing left column wrapper -->
              </div>
              <div class="column is-7">
                <div class="columns is-multiline">
                  <div class="column is-12 box">
                    <p>
                      Second group project, full-stack. A crowdsourced app for finding restrooms
                      on the road. <a href='https://murmuring-basin-97486.herokuapp.com/'>Gotta Go!</a>
                      Here's the source <a href="https://github.com/anlawyer/GottaGo">code.</a>
                      MySQL, EJS, JS, jQuery.
                    </p>
                  </div>
                  <div class="column is-12 box">
                    <p>
                      Cheerio to scrape articles from FastCo. Axios for in-app routing/API calls.
                      MongoDB + Mongoose. The app is
                      <a href='https://shielded-coast-38911.herokuapp.com/'>FC Scraper.</a>
                      Here's the source <a href="https://github.com/anlawyer/FastCo-Scraper">code.</a>
                    </p>
                  </div>
                  <div class="column is-12 box">
                    <p>
                      New York Times article search. API calls. Built with React.
                      <a href='https://stark-caverns-91687.herokuapp.com/'>NYT Search.</a>
                      Here's the source <a href="https://github.com/anlawyer/NYT-Article-Search">code.</a>
                    </p>
                  </div>
                  <div class="column is-12 box">
                    <p>
                      Gotta Go, React Refactor.
                      <a href='https://gotta-go.herokuapp.com/'>Gotta Go 2.0</a>
                      Here's the source <a href="https://github.com/mford008/gotta-go-react">code.</a>
                    </p>
                  </div>
                <!-- closing nested columns -->
                </div>
              <!-- closing column for right wrapper -->
              </div>
            <!-- closing nested columns -->
            </div>
          <!-- closing column for full stack -->
          </div>
          <div class="column is-12">
            <p>
              As you can see, I have a solid foundation for the basics of web development,
              and projects that prove it.
              I like to code in my spare time, and I'm not half bad at it. This
              occupation is a means to an end for me - to be able to make a difference
              in people's lives. As technology is so prevalent, but not always accessible, I want to
              use my skills to solve problems for people at crucial times in their lives.
            </p>
            <br />
            <p>
              Although I have completed the bootcamp and have a good foundation of skills
              to build upon, my journey has only begun. I am continuing to practice more
              advanced JavaScript and React. My next step is to get a job where I can code
              every day.
            </p>
            <br />
            <h2 class="title is-4">
              Are you the next step in my journey?
            </h2>
          </div>
        <!-- closing multiline column -->
        </div>
      <!-- closing container -->
      </div>
    <!-- closing hero body -->
    </div>
  </section>
</body>
</html>
